@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Nunito:wght@200&display=swap');

:root {
  --primary-color: #86bbaa;
  --secondary-color: #2f4858;
  --accent1-color: #9ee493;
  --accent2-color: #daf781;

  --heading-font: 'Dancing Script', cursive;
  --paragraph-font: 'Nunito', sans-serif;

  --nav-background-color: #86bbaa;
  --nav-link-color: #2f4858;
  --nav-hover-link-color: #9ee493;
  --nav-hover-background-color:#daf781;

}

body {
  font-family: 'Nunito', sans-serif;
  max-width: 1200px; 
  margin: 0 auto; 
}

header {
  font-family: 'Dancing Script', cursive; 
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background-color: var(--nav-background-color); 
  padding: 20px;
}


header img {
  width: 190px; 
  height: auto; 
  margin-right: 10px; 
}

header nav {
  background-color: var(--nav-hover-link-color);
  font-size: 2.1rem;
  display: flex; 
  justify-content: flex-end; /* Align navigation to the right */
  align-items: center;
}

header nav a {
  display: block;
  color: var(--secondary-color);
  text-decoration: none;
  padding: 1rem;
}

header nav a:link, nav a:visited {
  color: var(--secondary-color);
}

h1, h2, h3, p {
  color: var(--secondary-color); 
}

.hero {
  position: relative; 
}

.hero img{
  display: block;
  width: 100%;
  height: auto;
  
}


h1 {
  position: absolute; 
  top: 5%; 
  left: 50%; 
  transform: translate(-50%,-50%); 
  color: var(--accent1-color); 
  background-color: rgba(0, 0, 0, 0.6); 
  padding: 30px 50px; 
}
  
article {
  position: absolute; 
  top: 20%; 
  left: 50%; 
  transform: translateX(-50%); 
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 15px; 
}


article img {
  float: right; 
  margin-left: 15px; 
  max-width: 30%; 
  height: auto; 
}

.history {
  position: relative;
  background-color: #daf781;
  padding: 20px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.history img {
  margin-left: 15px; 
  max-width: 15%; 
  height: auto; 
  order: 2;
}

.history p:first-child {
  order: 1; /* Add this */
}

.history p:last-child {
  order: 3; /* Add this */
}

.pictures {
  position: relative;
  background-color: #86bbaa;
  padding: 20px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pictures.images {
  display: flex;
  justify-content: space-between;
}

.pictures.images img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
}

.pictures.images figcaption {
  font-size: 1rem;
  color: var(--secondary-color);
}

.pictures.images figure {
  text-align: center;
}

.pictures h2 {
  font-size: 2rem;
  color: var(--secondary-color);
}

.pictures img {
  max-width: 15%;
  display: block;
  margin-bottom: 15px;
}

footer {
  background-color: var(--nav-hover-background-color);
  padding: 10px;
  display: flex;
  justify-content: flex-end; 
}

.sociallinks a {
  text-decoration: none;
  margin-left: 10px;
}

.sociallinks img {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd; 
}



  