@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Nunito:wght@200&display=swap');
:root {
    --primary-color: #86bbaa;
    --secondary-color: #2f4858;
    --accent1-color: #9ee493;
    --accent2-color: #daf781;

    --heading-font: 'Dancing Script', cursive;
    --paragraph-font: 'Nunito', sans-serif;

    --nav-background-color: #86bbaa;
    --nav-link-color: #2f4858;
    --nav-hover-link-color: #9ee493;
    --nav-hover-background-color:#daf781;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-backgorund-color #daf781);
}
